<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>

    <body>
      <main>
        <div class="side-nav-container bg blue-gradient">
          <div class="side-nav">
             <a href="/teachers"><i class="material-icons" mdbTooltip="Pagina Principal" placement="bottom">home</i></a>
             <a href="/dashboard"><i class="material-icons" mdbTooltip="Listar Profesores" placement="bottom">format_list_bulleted</i></a>
             <div class="side-nav-bottom">
               <i class="material-icons" mdbTooltip="Cerrar Sesión" placement="top">power_settings_new</i>
             </div>
          </div>
        </div>

        <router-outlet></router-outlet>
      </main>
    </body>
  </html>



