<div class="container-fluid pt-5">
<!-- Presentacion -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-black-50">Detalles del curso:</h1>
            </div>
<!-- Fin Presentacion -->
<!-- Inicio contenido-->
<div class="row">

            <!-- Lado Izquierdo -->
            <div class="col-lg-8 mb-4">

              <!--  Card  -->
              <div class="card shadow mb-4">

                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">{{ courseName }}</h6>
                </div>

                <div class="card-body">

                    <div style="display: block">
                        <canvas mdbChart
                            [chartType]="chartType"
                            [datasets]="chartDatasets"
                            [labels]="chartLabels"
                            [colors]="chartColors"
                            [options]="chartOptions"
                            [legend]="true">
                        </canvas>
                      </div>

                </div>

              </div>

              <!--  Segunda mitad -->
              <div class="row">

                <div class="col-lg-6 mb-4">
                  <div class="card bg-danger text-white shadow">
                      <div class="card-body">
                          <div class="row px-3"><h6>Desaprobados</h6></div>
                          <table  class="col-md-12">
                              <tr>
                              <th>Nombre</th>
                              <th>Nota</th>
                              </tr>
                              <tr *ngFor="let mal of desaprobados ">
                              <th>{{ mal.nombre }}</th>
                              <th>{{ mal.nota }}</th>
                              </tr>
                          </table>
                        </div>
                  </div>
                </div>

                <div class="col-lg-6 mb-4">
                  <div class="card bg-success text-white shadow">
                      <div class="card-body">
                          <div class="row px-3"><h6>Desaprobados</h6></div>
                          <table class="col-md-12">
                              <tr>
                              <th>Nombre</th>
                              <th>Nota</th>
                              </tr>
                              <tr *ngFor="let bien of aprobados ">
                              <th>{{ bien.nombre }}</th>
                              <th>{{ bien.nota }}</th>
                              </tr>
                          </table>
                        </div>
                  </div>
                </div>
              </div>

            </div>

            <!-- Lado Izquierdo-->
            <div class="col-lg-4 mb-4">

              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Lista de Alumnos</h6>
                </div>
                <div class="card-body">
                    <ul class="list-group" *ngFor="let alumnos of month">
                        <li class="list-group-item">{{ alumnos }}</li>
                      </ul>
                </div>
              </div>

              <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                </div>
                <div class="card-body">
                  <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>
                  <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->







